#nameP{
    
        font-size: 25px;
        height: 70px;
        width: 200px;
        padding-top: 50px;
        background-color: red;
        color: antiquewhite;
        float: left;
        text-align: center;
    
}

#name1 {
    font-size: 25px;
    height: 70px;
    width: 200px;
    padding-top: 50px;
    background-color: red;
    color: antiquewhite;
    float: left;
    text-align: center;
}

#name2 {
    font-size: 25px;
    height: 70px;
    width: 200px;
    padding-top: 50px;
    background-color: red;
    color: antiquewhite;
    float: left;
    text-align: center;
}

body{
    background-image: url(Pictures/gravel.png);
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}


h2 {
    color: red;
    border-bottom:3px solid black ;
}

header {
    background-color:darkgray;
    height:120px;
    margin-block-start: 20px;
}


a{
    color: red;
    font-size: 30px;
    border-right: 2px solid;
}

img{
    z-index: 2;
    height: 200px;
    width: 200px;
    background: rgba(0 red, 0 green, 0 blue, 0 alpha)
}


a:hover{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}

.acancel{
    background-color: black;
    font-size: 15px;
    margin-top: 10px;

}

.header{
    width:960px;
    margin:0 auto;
}

nav{
    float:right;
    font-size: 20px;
    padding-top:50px;
}

p{
    float: inherit;
    text-align: center;
    
}
    
#name{
    font-size:25px;
    height: 70px;
    width: 200px;
    padding-top: 50px;
    background-color: red;
    color: antiquewhite;
    float: left;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    clear: both;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: darkgray;
    border-top: 6px solid red;
    font-family: Arial, Helvetica, sans-serif;
 }
 #wrapper{

    margin: 0 auto;
    width: 960px;
    overflow:auto;
}

#indexPic{
    margin-top: 20px;
    float:left;
}


/*Css for all forms and input  */


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}

/* Media Q */

@media only screen and (max-width: 980px) {

    #foot{
        width: 79%;
    }

    #picP{
        margin-left: 84px;
    }

    

 

#wrapper{
    width: 843px;
    margin: 40px auto;

}

#indexPic{
    margin-top: 20px;
    float: left;
    margin-right: 27px;
}

    

    p{
        line-height: 1.5;
        width: 100%;
        text-align: left;
        font-size: 1em;

       
    }
    #name{
        margin: 32px;
    padding: 8px;
    font-size: 31px;
    height: 70px;
    width: 200px;
    color: antiquewhite;
    float: left;
    box-align: left;
    margin-left: 57px;
    }

    #name2{
        margin: 0px;
    padding: 25px;
    font-size: 31px;
    height: 70px;
    width: 200px;
    color: antiquewhite;
    float: left;
    box-align: left;
    margin-left: 57px;
    background-color: red;
    }

    .header{
        width: 1024px;
    }

    #header2{
        width: 100%;
    padding-right: 139px;
    margin-bottom: 39px;
    
    }
a{
    font-size: 25px;
    float: right;
    margin-right: 3px;
    padding-right: 14px;
    margin-top: 45px;



}

#nav2{
    float: none;
    margin-right: 72px;
    padding: 45px;
}

footer{
    width: 96%;
    font-size: 17px;
}



}

@media only screen and (max-width: 768px) {

    #pp{
        margin-left: 43px;
    }

   #aP{
       font-size:18px;
   }

        #nav2p{
            float: none;
            margin-right: 0px;
            padding: 45px;
        }
            
    

    #picP{
        margin-left: 43px;
    }

    .container{
        width: 96%;
        margin-left: 173px;
         }

    .acancel {
        background-color: black;
        font-size: 22px;
        margin-top: 10px;
    }

    img{
        height: 250px;
    width: 250px;
    }

    #formC{
        margin-right: 286px;
    }

    #wrapper{
        width: 768px;
    margin: 40px auto;
    margin-left: 61px;
    }
    
        
    
        p{
            line-height: 1.5;
            width: 100%;
            text-align: left;
    
           
        }
        #namep{
            margin: 2px;
    margin-left: 64px;
    padding: 22px;
    font-size: 29px;
    height: 70px;
    width: 200px;
    color: antiquewhite;
    float: left;
    background-color: red
        }
    
        .header{
            width: 1024px;
        }

        header{
            width: 100%;
            padding-right: 139px;
            margin-bottom: 10px;
        }
    .a1{
        font-size: 25px;
    float: right;
    margin-right: 0px;
    padding-right: 14px;
    margin-top: 52px;
    margin: 9px;
    
    
    
    }

    .a2{
        font-size: 20px;
        float: right;
        margin-right: 3px;
        padding-right: 14px;
        margin-top: 45px;

    }
    
    #nav1{
        margin: -19px;
        float: none;
        margin-right: -178px;
        padding: 45px;
    }
#nav2{
    float: none;
    margin-right: -50px;
    padding: 45px;
}
    
    
    }

    @media only screen and (max-width: 640px) {

        .a2 {
            font-size: 20px;
            float: right;
            margin-right: 3px;
            padding-right: 14px;
            margin-top: 45px;
        }

        #nav2p {
            float: none;
            margin-right: 121px;
            padding: 45px;
        }

        #pp{
            margin-left: 91px;
        }

        #indexPicp{
            margin-top: 10px;
            margin-left: 11%;
            margin-bottom: 10px;
            height: 350px;
            width: 350px;
        }

        .container {
            width: 96%;
            margin-left: 173px;
            margin-top: 93px;
        }
     

        #wrapper{
            width: 640px;
        margin: 40px auto;
        margin-left: 61px;
        }

        

        #formC{
            width: 400px;
            margin-left: 0;

          }  
        
            
        
            p{
                line-height: 1.5;
    width: 100%;
    text-align: left;
    font-size: 13px;
        
               
            }
            #name1{
                background-color: red;
    padding-top: 0px;
    margin: 0px;
    margin-left: 0px;
    padding: 27px;
    font-size: 39px;
    height: 70px;
    width: 71%;
    color: antiquewhite;
    float: left;
    float: left;
    text-align: center;
            }

            #name2{
                margin: 0px;
    padding: 25px;
    font-size: 41px;
    height: 70px;
    width: 100%;
    color: antiquewhite;
    float: left;
    box-align: left;
    margin-left: 57px;
    background-color: red;
    padding-left: 88px;
            }
                
               
            }
        
            .header{
                width: 1024px;
            }
    
            header{
                width: 100%;
                padding-right: 139px;
            }

            
        .a1{
            position: relative;
            font-size: 22px;
            float: right;
            margin-right: 3px;
            padding-right: 14px;
            margin-top: 43px;
            text-align: center;
        
        
        }

        #nav1{
            margin: -18px;
            float: none;
            margin-right: 51px;
            padding: 45px;
        }

        #nav2{
            float: none; 
    margin-right: 117px;
    padding: 45px;
        }
#navP{
        margin-right: -130px;
    padding: 45px;
    margin-top: 0px;
}

        #indexPic{
            margin-top: 0px;
    float: left;
    margin-right: 108px;
    margin-left: 0%;
    margin-bottom: 10px;
    height: 300px;
    width: 300px;
        }

        #indexPic1{
            margin-top: 0px;
    margin-right: 0px;
    margin-left: 25%;
    margin-bottom: 10px;
    height: 300px;
    width: 300px;
        }

        h2{
            color: red;
    border-bottom: 3px solid black;
    width: 100%;
    margin-left: 0px;
        }
        
        
        
        
   








